body {
    background-color: rgb(192, 204, 209); /* Set background color for the entire webpage */
}

.container{
    width: 1000px;
    height: 600px;
    margin: 0 auto; 
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;

}

.container_2{
    width: 1000px;
    height: 100px;
    margin: 0 auto; 
    background-color: rgb(116, 145, 155);
    padding: 20px;
    text-align: center;
}

.container_3{
    width: 1000px;
    height: 200px;
    margin: 0 auto; 
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
    
}

.container_2{
    display: flex;
    justify-content: center;
}

.styled-button {
    background-color: #4CAF50; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* No underlining */
    display: inline-block; /* Display as inline block */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Cursor pointer on hover */
    border-radius: 10px; /* Rounded corners */
}

p {
    overflow-wrap: break-word; /* Wrap words to the next line if they don't fit */
}