.col-form-label {
    color: #7f7f7f;
    font-size: 15px;
}

.btn-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
    border: 1px solid #ccc;
    color: black;
    font-family: Microsoft Sans Serif, Geneva, sans-serif;
}

.btn-dropdown::after {
    display: inline-block;
    margin-left: auto;
}
.check-style{
    color: #7f7f7f;
    font-size: 15px;
    margin-bottom: 10px;
}