.container {
    display: flex;
}

#rectangle_1 { 
    width: 25vw; 
    height: 95vh;
    background-color: rgb(75, 110, 141);
}

#rectangle_2 { 
    width: 75vw; 
    height: 10vh;
    background-color: rgb(46, 81, 104);
    margin: 1vh 1vw
}

#rectangle_3 {
    width: 23vw;
    height: 22vh;
    background-color: rgb(83, 85, 143); 
    margin: 1vh 1vw
}

#rectangle_4 {
    width: 25vw;
    height: 22vh;
    background-color: rgb(28, 17, 113); 
    margin: 1vh 1vw
}

#rectangle_5 {
    width: 36.5vw;
    height: 25vh;
    background-color: rgb(107, 104, 126); 
    margin: 1vh 1vw
}

#rectangle_6 {
    width: 25vw;
    height: 30vh;
    background-color: rgb(107, 104, 126); 
    margin: 1vh 1vw
}

#rectangle_7 {
    width: 48vw;
    height: 30vh;
    background-color: rgb(107, 104, 126); 
    margin: 1vh 1vw
} 